.submit {
  border: 1px solid $brand-color;
  height: 50px;
  width: 150px;
  background-color: $brand-color;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

.main > * {
  @extend %main-button;
}
