.submit {
  border: 1px solid $brand-color;
  height: 50px;
  width: 150px;
  background-color: $brand-color;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  margin: auto auto 100px auto;
  .caret {
    position: absolute;
    width: 0;
  	height: 0;
  	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-top: 15px solid $brand-color;
    top: 45px;
    right: 50px;
  }
}

.main > * {
  @extend %main-button;
}
