$text-color: white;

$font-caption: 'Oswald', sans-serif;
$font-brand: 'EB Garamond', serif;
$font-main: "Helvetica Neue", sans-serif;

$main-height-mobile: 250px;

%font-brand {
  font-size: 5em;
  font-family: $font-brand;
}

%font-caption {
  font-size: 1.3em;
  font-family: $font-caption;
}

%main-full {
  height: 500px;
  width: 100%;
}

%main-half {
  height: 500px;
  width: 50%;
}

%main-mobile {
  height: 250px;
  width: 90%;
  margin: 1em auto;
}
