$text-color: white;

$font-caption: 'Oswald', sans-serif;
$font-brand: 'EB Garamond', serif;
$font-main: "Helvetica Neue", sans-serif;

$main-height-mobile: 250px;

$brand-color: #dc7725;

%font-brand {
  font-size: 4em;
  font-family: $font-brand;
}

%font-caption {
  font-size: 1em;
  font-family: $font-caption;
}

%main-full {
  height: 500px;
  width: 100%;
}

%main-half {
  height: 500px;
  width: 50%;
}

%main-mobile {
  height: 250px;
  width: 90%;
  margin: 1em auto;
}

%main-button {
  button {
  background-color: rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  transition: all .5s;
  align-self: center;
  margin: 0 auto;
    i {
      font-size: 3em;
      margin: auto;
      color: rgba(255,255,255, 0.8)
    }
    &:hover {
      transform: scale(1.5);
    }
  }
}
