.main {
  max-width: 1680px;
  @include flex-container($flex-flow: column nowrap, $height: 100%, $width: 100%);
  @media screen and (min-width: 768px) {
    @include flex-container($flex-flow: row wrap);
    }
  & > * {
    @extend %font-caption;
    @include flex-container(90%, 350px, $flex-flow: column nowrap, $align: flex-end, $justify: flex-end);
    margin: 1em auto;
    border-radius: 4px;
    h3 {
      align-self: baseline;
      margin: 0 0 1.5em 1.5em;
      font-size: 1.5em;
    }
    & .main__hr {
      background: $brand-color;
      height: 5px;
      width: 40px;
      margin: 0 0 0.5em 2em;
      align-self: baseline;
    }
    @media screen and (min-width: 768px) {
      width: 50% ;
      margin: 0;
      display: flex;
      flex-flow: column wrap;
      border-radius: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    @include e("half") {
      @include m("1") {
        width:25% !important;
      }
      @include m("2") {
        width:25% !important;
      }
      @include m("3") {
        width:25% !important;
      }
      @include m("4") {
        width:25% !important;
      }
    }
  }
}


//Main Section Backgrounds//// /////////////////////////
.main {
  @include e("top") {
    @include bg-img("../img/tuk2.jpeg", auto, auto);

  }
  @include e("half") {
    @include m("1") {
      @include bg-img("../img/camel.jpg", auto, auto);

    }
    @include m("2") {
      @include bg-img("../img/ocean.jpeg", auto, auto);

    }
    @include m("3") {
      @include bg-img("../img/van.jpeg", auto, auto);

    }
    @include m("4") {
      @include bg-img("../img/jungle.jpeg", auto, auto);

    }
  }
  @include e("bottom") {
    @include bg-img("../img/city2.jpg", auto, auto);

  }
}
