/* --------------------------
Header Layout
--------------------------- */


//Header with background image and toggled navbar///////////
.header{
  @include flex-container($flex-flow: column nowrap, $align: center);
  @include bg-img("../img/header.jpeg", auto, auto);
  @media screen and (min-width: 768px) {
    height: 800px;
  }
  @include e("nav") {
    @include flex-container($height: 100px, $flex-flow: row nowrap, $justify: space-between, $padding: 1em);
    padding-top: 2em;

    @include m("brand") {
      @include flex-container();
      font-family: $font-brand;
      h2{
        align-self: center;
        font-size: 1.5em;
        padding: 0 0.5em;
      }
    }
    @include m("top") {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      min-width: 160px;
      right: 0;
      @media screen and (min-width: 768px) {
        display: flex;
        background-color: transparent;
        }
      li a{
        color: $text-color;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:hover {
          background-color: #995c00;
        }
      }
    }
    .dropdown {
      position: relative;
      display: inline-block;
      @media screen and (min-width: 768px){
        display: flex;
        height: 100px;
        width: 100%;
      }
      &:hover .header__nav--top {
        display: block;
        @media screen and (min-width: 768px) {
          display: flex;
        }
      }
      @include e("button") {
        align-self: center;
        @media screen and (min-width: 768px) {
          display: none;
        }
      }
    }
  }
}


///header middle captions and hr ///////
/////////////
.header {
  // display: flex;
  // flex-flow: column;
  @include e("caption") {
    margin: auto;
    h3{
      @extend %font-caption;
      letter-spacing: 0.2em;
    }
    @include flex-container($height: 400px, $flex-flow: column nowrap, $align: center, $padding: 50px);
    @include m("brand") {
      @extend %font-brand;
    }
    @include m("hr") {
      width: 250px;
      background-color: white;
      height: 4px;
      margin-bottom: 50px;
    }
  }
}
/////bottom nav/////////
.header {
  @include e("nav") {
    @include m("bottom") {
      display: none;
    }
  }
  @media screen and (min-width: 768px) {
    @include e("nav") {
      @include m("bottom") {
        width: 100%;
        display: flex !important;
        margin-top:250px;
        ul {
          width: 100%;
          display: flex !important;
          background-color: #EDD1D1;
          padding-left:50px;
          li{
            padding: 1em;
            &:hover {
              background-color: #995c00;
            }
            &:last-child {
              border-left: 1px solid #bbb;
            }
            a {
              color: black;
            }
          }
        }
      }
    }
  }
}
